* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

p{
    margin: 0.5em 0 0.53m 0;
}

header {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a493c0;
    padding: 10px;
}

nav a:visited,
nav a:link {
    color: white;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline;
    list-style: none;
    margin: 0 5px 0 5px;
}

.cart-icon {
    display: inline;
    float: right;
    padding-right: 2em;
    color:white;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
}
.cart-icon p {
    position:absolute;
    top: .5rem;
    right: 2.6rem;
    font-size: 0.7rem;
    background-color:#f39898;
    padding: 2px 2px;
    border-radius: 50%;
}

main {
    display: block;
    background-image: url("images/background.png");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

/* cart box */
.cart-box {
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #f39898;
    z-index: 9999;
    transition: 0.3s linear;
    transform: scale(0);
}
.cart-box:active{
    transform: scale(1);
}

.cart-box .cart {
    position: relative;
    height:50%;
    width:80%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-box .cart i{
    position: absolute;
    right:0;
    top: 0;
    background: #f00;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;

}

.cart-box .cart i:hover {
    background:rgb(230, 12, 12);
}

.cart-box .cart h1 {
    position: relative;
    margin-top: 2%;
    font-size: 2.8rem;
}

aside, article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
}

img[src="images/logo.png"] {
    border-radius: 50%;
    max-width: 85%;
    max-height: 75%;
}
img[src="images/candy-banner.jpeg"] {
    max-height: 50%;
}

.columns {
    display: flex;
}


@media only screen and (min-width: 768px) {

    main {
        display: flex;
    }

    aside {
        margin-left: 2%;
    }

    .columns-desktop {
        display: flex;
    }
}

/* Candy */

.candy {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: solid 1px lightgray;
}

.candy img {
    width: 100%;
    height: 150px;
}

.candy .title {
    font-weight: bold;
}

.candy .price {
    text-align: right;
}
/*
.candy .columns div {
    width: 50%;
}
*/
.candy button {
    background-color: #f6aeae;
    padding: 10px;
    border: solid 1px #f6aeae;
    border-radius: 3px;
    color: white;
}

